<h1 mat-dialog-title>Hi{{data}}</h1>
<mat-dialog-content>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, ab? Mollitia consectetur ad earum libero velit accusantium labore, aperiam odio delectus facilis! Cumque perspiciatis, recusandae voluptate obcaecati ex error voluptatibus.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  close
  </button>
  
  <button mat-button color="warn" [mat-dialog-close]>
    <mat-icon>close</mat-icon>
  close
  </button>
</mat-dialog-actions>

